<!--TITLE:[WineConf 2011 - RSVP]-->

<table width="100%">
<tr>
  <td><img src="{$root}/images/wineconf/wineconf_logo.jpg" width="295" height="108" alt="-LOGO-"></td>
  <td align="right"><center><FONT size="+2"><b>1 - 2 Ekim 2011<br>Minneapolis, MN</b></font></center></td>
</tr>
</table>

<hr />

<!--EXEC:[register?form=wineconf/rsvp;db=rsvp]-->

<p>&nbsp;</p>
