# default permissions
allow from all

# 404 not found document
ErrorDocument 404 http://www.winehq.org/?page=404

# redirect old winehq pages to new locations
RedirectPermanent /about.shtml                  http://www.winehq.org/?page=about
RedirectPermanent /about/                       http://www.winehq.org/?page=about
RedirectPermanent /about                        http://www.winehq.org/?page=about
RedirectPermanent /about/index.php              http://www.winehq.org/?page=about
RedirectPermanent /community.shtml              http://www.winehq.org/?page=contributions
RedirectPermanent /dev.shtml                    http://www.winehq.org/?page=cvs
RedirectPermanent /dev.html                     http://www.winehq.org/?page=cvs
RedirectPermanent /devstart.shtml               http://www.winehq.org/?page=cvs
RedirectPermanent /download/                    http://www.winehq.org/?page=download
RedirectPermanent /download                     http://www.winehq.org/?page=download
RedirectPermanent /download/index.php           http://www.winehq.org/?page=download
RedirectPermanent /download.shtml               http://www.winehq.org/?page=download
RedirectPermanent /download.html                http://www.winehq.org/?page=download
RedirectPermanent /download-mirrors.html        http://www.winehq.org/?page=download
RedirectPermanent /download-mirrors.shtml       http://www.winehq.org/?page=download
RedirectPermanent /support.shtml                http://www.winehq.org/?page=documentation
RedirectPermanent /News/status.html             http://www.winehq.org/?page=status
RedirectPermanent /status                       http://www.winehq.org/?page=status
RedirectPermanent /status/                      http://www.winehq.org/?page=status
RedirectPermanent /faq/                         http://www.winehq.org/?page=faq
RedirectPermanent /faq                          http://www.winehq.org/?page=faq
RedirectPermanent /screenshots/                 http://www.winehq.org/?page=screenshots
RedirectPermanent /screenshots                  http://www.winehq.org/?page=screenshots
RedirectPermanent /news/                        http://www.winehq.org/?news=archive
RedirectPermanent /news                         http://www.winehq.org/?news=archive
RedirectPermanent /howto/                       http://www.winehq.org/?page=howto
RedirectPermanent /howto                        http://www.winehq.org/?page=howto
RedirectPermanent /todo/                        http://www.winehq.org/?page=todo
RedirectPermanent /todo                         http://www.winehq.org/?page=todo

# redirect winehq services to appropriate web sites
RedirectMatch ^/(APPS|Apps|apps)/$              http://appdb.winehq.org/
RedirectMatch ^/(APPS|Apps|apps)$               http://appdb.winehq.org/
RedirectMatch ^/(APPS|Apps|apps)/query\.cgi$    http://appdb.winehq.org/
RedirectMatch ^/apps\.cgi$                      http://appdb.winehq.org/
RedirectMatch ^/(FAQ|Faq)/$                     http://www.winehq.org/faq
RedirectMatch ^/(FAQ|Faq)$                      http://www.winehq.org/faq
RedirectMatch ^/(BUGS|Bugs|bugs)/$              http://bugs.winehq.org/
RedirectMatch ^/(BUGS|Bugs|bugs)$               http://bugs.winehq.org/
RedirectMatch ^/(TROUBLE|Trouble|trouble)/$     http://www.winehq.org/faq
RedirectMatch ^/(TROUBLE|Trouble|trouble)$      http://www.winehq.org/faq

# redirect soure website
RedirectMatch /WineAPI(.*)$                     http://source.winehq.org/WineAPI$1
RedirectMatch /source(.*)$                      http://source.winehq.org/source$1
RedirectMatch /cvsweb(.*)$                      http://cvs.winehq.org/cvsweb$1
RedirectMatch /patch.py(.*)$                    http://cvs.winehq.org/patch.py$1

# redirect source website utils
RedirectPermanent /ident                        http://source.winehq.org/ident
RedirectPermanent /find                         http://source.winehq.org/find
RedirectPermanent /search                       http://source.winehq.org/search
RedirectPermanent /diff                         http://source.winehq.org/search
