# default permissions
allow from all

# Set Our Default Directory Index
DirectoryIndex site index.html index.shtml index.cgi index.php

# 404 not found document
ErrorDocument 404 http://www.winehq.org/site/404

# Tell PHP how we want to handle global vars
php_value register_globals 0

# force the php to accept PATH_INFO
<Files ~ (site)$>
  AcceptPathInfo On
  ForceType application/x-httpd-php
</Files>

# redirect winehq services to appropriate web sites
RedirectMatch ^/?page=(.*)$                     http://www.winehq.org/site/$1
RedirectMatch ^/index\.php?page=(.*)$           http://www.winehq.org/site/$1

# redirect old winehq pages to new locations
RedirectPermanent /index.php                    http://www.winehq.org/site
RedirectPermanent /about.shtml                  http://www.winehq.org/site/about
RedirectPermanent /about/                       http://www.winehq.org/site/about
RedirectPermanent /about                        http://www.winehq.org/site/about
RedirectPermanent /about/index.php              http://www.winehq.org/site/about
RedirectPermanent /community.shtml              http://www.winehq.org/site/contributions
RedirectPermanent /dev.shtml                    http://www.winehq.org/site/cvs
RedirectPermanent /dev.html                     http://www.winehq.org/site/cvs
RedirectPermanent /devstart.shtml               http://www.winehq.org/site/cvs
RedirectPermanent /download/                    http://www.winehq.org/site/download
RedirectPermanent /download                     http://www.winehq.org/site/download
RedirectPermanent /download/index.php           http://www.winehq.org/site/download
RedirectPermanent /download.shtml               http://www.winehq.org/site/download
RedirectPermanent /download.html                http://www.winehq.org/site/download
RedirectPermanent /download-mirrors.html        http://www.winehq.org/site/download
RedirectPermanent /download-mirrors.shtml       http://www.winehq.org/site/download
RedirectPermanent /support.shtml                http://www.winehq.org/site/documentation
RedirectPermanent /News/status.html             http://www.winehq.org/site/status
RedirectPermanent /status                       http://www.winehq.org/site/status
RedirectPermanent /status/                      http://www.winehq.org/site/status
RedirectPermanent /faq/                         http://www.winehq.org/site/docs/wine-faq/index
RedirectPermanent /faq                          http://www.winehq.org/site/docs/wine-faq/index
RedirectPermanent /screenshots/                 http://www.winehq.org/site/screenshots
RedirectPermanent /screenshots                  http://www.winehq.org/site/screenshots
RedirectPermanent /news/                        http://www.winehq.org/site?news=archive
RedirectPermanent /news                         http://www.winehq.org/site?news=archive
RedirectPermanent /howto/                       http://www.winehq.org/site/howto
RedirectPermanent /howto                        http://www.winehq.org/site/howto
RedirectPermanent /todo/                        http://www.winehq.org/site/todo
RedirectPermanent /todo                         http://www.winehq.org/site/todo
RedirectPermanent /cvs/                         http://www.winehq.org/site/cvs
RedirectPermanent /cvs                          http://www.winehq.org/site/cvs
RedirectPermanent /forums/                      http://www.winehq.org/site/forums
RedirectPermanent /forums                       http://www.winehq.org/site/forums

# fix documentation links
RedirectMatch ^/(Docs|Docs/)$                   http://www.winehq.org/site/documentation
RedirectMatch ^/(docs|docs/)$                   http://www.winehq.org/site/documentation
RedirectMatch ^/Docs/(\w+-\w+)/$                http://www.winehq.org/site/docs/$1/index
RedirectMatch ^/Docs/(\w+-\w+)/(.*)\.shtml$     http://www.winehq.org/site/docs/$1/$2 
RedirectMatch ^/docs/(\w+-\w+)/$                http://www.winehq.org/site/docs/$1/index
RedirectMatch ^/docs/(\w+-\w+)/(.*)\.shtml$     http://www.winehq.org/site/docs/$1/$2 
RedirectMatch ^/site/docs/([a-z-]+)/$           http://www.winehq.org/site/docs/$1/index
RedirectMatch ^/site/(docs|docs/)$              http://www.winehq.org/site/documentation

# redirect winehq services to appropriate web sites
RedirectMatch ^/(APPS|Apps|apps)/$              http://appdb.winehq.org/
RedirectMatch ^/(APPS|Apps|apps)$               http://appdb.winehq.org/
RedirectMatch ^/(APPS|Apps|apps)/query\.cgi$    http://appdb.winehq.org/
RedirectMatch ^/apps\.cgi$                      http://appdb.winehq.org/
RedirectMatch ^/(FAQ|Faq)/$                     http://www.winehq.org/site/docs/wine-faq/index
RedirectMatch ^/(FAQ|Faq)$                      http://www.winehq.org/site/docs/wine-faq/index
RedirectMatch ^/(BUGS|Bugs|bugs)/$              http://bugs.winehq.org/
RedirectMatch ^/(BUGS|Bugs|bugs)$               http://bugs.winehq.org/
RedirectMatch ^/(TROUBLE|Trouble|trouble)/$     http://www.winehq.org/site/docs/wine-faq/index
RedirectMatch ^/(TROUBLE|Trouble|trouble)$      http://www.winehq.org/site/docs/wine-faq/index

# redirect soure website
RedirectMatch /WineAPI(.*)$                     http://source.winehq.org/WineAPI$1
RedirectMatch /source(.*)$                      http://source.winehq.org/source$1
RedirectMatch /cvsweb(.*)$                      http://cvs.winehq.org/cvsweb$1
RedirectMatch /patch.py(.*)$                    http://cvs.winehq.org/patch.py$1

# redirect source website utils
RedirectPermanent /ident                        http://source.winehq.org/ident
RedirectPermanent /find                         http://source.winehq.org/find
RedirectPermanent /search                       http://source.winehq.org/search
RedirectPermanent /diff                         http://source.winehq.org/search

