/* Body Document Defaults */
BODY 		{ background-color: #FFFFFF;
              color: #000000; margin: 0; }

/* Link Colors */
A		    { color: #A50D0D; }
A:visited	{ color: #FF0000; }
A:hover		{ color: #FF6666; text-decoration: underline; }
A:active	{ color: #FF0000; }
A.hidden	{ text-decoration: none; color: #000000; }

/* feneral fonts and sizes */
OL,UL,P		{ font-family: Sans-Serif; }
TD,TR,TH	{ font-family: Sans-Serif; }
INPUT		{ font-family: Sans-Serif; }
PRE         { font-family: Fixed; }

/* WWN Colors */
.wwnQuote	{ color: #A8003C; }

/* background colors */
.vltgrey	{ background-color: #f9f9f9; }
.ltgrey		{ background-color: #EFEFEF; }
.grey		{ background-color: #C0C0C0; }
.white		{ background-color: #FFFFFF; }
.dkgrey		{ background-color: #888888; }
.ltblack	{ background-color: #999999; }
.black		{ background-color: #000000; }
.blueish    { background-color: #bed5f7; }

/* text colors */
.inverse    { color: #FFFFFF; }
.disabled	{ color: #999999; }
.normal		{ color: #000000; }
.error		{ color: #ff0000; }
.water		{ color: #6060ff; }
.good		{ color: #60ff60; }
.warning	{ color: #fffa00; }
.blueman    { color: #335184; }

/* text styles */
.strike 	{ text-decoration: line-through; }
.bold       { font-weight: bold; }
.newstitle  { font-size: 14px; font-weight: bold; color: #000000; }

/* Menu Config */
.menuTitle	        { color: #000000; font-weight: bold; }
.menuTitle:visited  { color: #000000; font-weight: bold; }
.menuTitle:hover    { color: #C0C0C0; font-weight: bold; }
.menuLink	        { color: #ffffff; font-weight: bold; }
.menuItem	        { color: #000000; }
.menuItem:visited   { color: #000000; }
.menuItem:hover     { color: #A50D0D; font-weight: bold; }
.topMenu	        { background-color: #999999; background-image: url("./images/checker.gif"); }
.sideMenu	        { background-color: #FFFFFF; }

/* Misc */
.tiny		{ font-size: 8pt; }
.small		{ font-size: 10pt; }
.big		{ font-size: 14pt; }

/* Generic Buttons */
.button		 { background-color: #6b86bb; color: #ffffff; font-family: Sans-Serif; font-size: 10pt;
               padding: 0; }
.searchInput { background-color: #FFFFFF; color: #000000; font-family: Sans-Serif; font-size: 10pt;
               padding: 0; }
				  
/* Note Blip */
.blip		{ color: #ff0000; font-size: 8pt; }				   

/* Footer */
.footer		{ font-size: 8pt; color: #777777; }
