/* Body Document Defaults */
BODY 		{ background-color: #893535;
              color: #000000; margin: 0; }

/* Top Background Span */
td.topbk    { background-image: url("./images/red_top_bar.png");
              background-repeat: repeat-x; background-position: top; }

/* Link Colors */
A		    { color: #A50D0D; }
A:visited	{ color: #FF0000; }
A:hover		{ color: #FF6666; text-decoration: underline; }
A:active	{ color: #FF0000; }
A.hidden	{ text-decoration: none; color: #000000; }

/* feneral fonts and sizes */
OL,UL,P		{ font-family: Helvetica, Arial, Sans-Serif; font-size: 10pt; }
TD,TR,TH	{ font-family: Helvetica, Arial, Sans-Serif; font-size: 10pt; }
INPUT		{ font-family: Helvetica, Arial, Sans-Serif; font-size: 10pt; }
PRE         { font-family: Fixed; font-size: 10pt; }

/* WWN Colors */
.wwnQuote	{ color: #A8003C; }

/* background colors */
.vltgrey	{ background-color: #f9f9f9; }
.ltgrey		{ background-color: #EFEFEF; }
.grey		{ background-color: #C0C0C0; }
.white		{ background-color: #FFFFFF; }
.dkgrey		{ background-color: #888888; }
.ltblack	{ background-color: #999999; }
.black		{ background-color: #000000; }
.blueish    { background-color: #bed5f7; }

/* text colors */
.inverse    { color: #FFFFFF; }
.disabled	{ color: #999999; }
.normal		{ color: #000000; }
.error		{ color: #ff0000; }
.water		{ color: #6060ff; }
.good		{ color: #60ff60; }
.warning	{ color: #fffa00; }
.blueman    { color: #335184; }

/* text styles */
.strike 	{ text-decoration: line-through; }

/* Menu Config */
.menuTitle	{ font-size: 12px; color: #000000; font-weight: bold; }
.menuTitle:visited { font-size: 12px; color: #000000; font-weight: bold; }
.menuTitle:hover { font-size: 12px; color: #999999; font-weight: bold; }
.menuLink	{ font-size: 10px; color: #ffffff; font-weight: bold; }
.menuItem	{ font-size: 10px; color: #000000; }
.menuItem:visited { font-size: 10px; color: #000000; }
.menuItem:hover { font-size: 10px; color: #A50D0D; font-weight: bold; }

.topMenu	{ background-color: #FFFFFF; }
.sideMenu	{ background-color: #FFFFFF; }

/* Misc */
.tiny		{ font-size: 6pt; }
.small		{ font-size: 8pt; }
.big		{ font-size: 14pt; }

/* Generic Buttons */
.button		 { background-color: #6b86bb; color: #ffffff; font-family: Helvetica, Arial, Sans-Serif; font-size: 10pt;
               padding: 0; }
.searchInput { background-color: #E0E0E0; color: #666666; font-family: Helvetica, Arial, Sans-Serif; font-size: 10pt;
               padding: 0; } 
				  
/* Note Blip */
.blip		{ color: #ff0000; font-size: 8pt; }				   

/* Footer */
.footer		{ font-size: 8pt; color: #777777; }

