<!--TITLE:[Wine Announcement]-->
<!--BLURB:[Alexandre Julliard says...]-->
<!--META_OG:[image|http://media.codeweavers.com/pub/crossover/marketing/og/wine-hq-announcement.png]-->

<h1 class="title">Wine Announcement</h1>

<!--EXEC:[announce]-->

