<!--TITLE:[Wine License]-->


<h1>Wine License</h1>

<p>Wine may be used and redistributed under the terms
of the <a href="http://source.winehq.com/source/LICENSE">LGPL</a>.
All trademarks are property of their respective owners.</p>

<p>&nbsp;</p>

