<!--TITLE:[Press articles covering Wine]-->

<h1>Press articles covering Wine</h1>

<ul>
  <li> <a href="http://www.cuj.com/current/feature.htm?topic=current">C/C++ Users Journal</a> March 5, 2003 - Dropping Windows with WineLib: Expert help for porting your Windows apps to Linux
  <li> <a href="http://www.sudhian.com/showdocs.cfm?aid=323">Sudhian Media</a> February 2, 2003 - The Shuttle XPC and Linux Revolution: Part IV Windows under Linux
  <li> <a href="http://www.consultingtimes.com/articles/codeweavers/codeweaversxandros.html">ConsultingTimes</a> October 17, 2002 - CodeWeavers/Xandros Deal: "Let the Revolution Begin!"
  <li> <a href="http://www.linuxplanet.com/linuxplanet/reviews/4405/1/">LinuxPlanet</a> August 29, 2002 - CrossOver Office: Cutting to the Quicken
  <li> <a href="http://www.linuxorbit.com/modules.php?op=modload&name=Reviews&file=index&req=showcontent&id=15">LinuxOrbit</a> August 29, 2002 - Break out Your Games Library: Running Windows Games with WineX 2.1
  <li> <a href="http://www.transgaming.com/news.php?newsid=43">TransGaming</a> August 19, 2002 - TransGaming and TimeGate Partner to Port KOHAN
  <li> <a href="http://www.codeweavers.com/about/press_releases/?id=20020814">CodeWeavers</a> August 14, 2002 - CodeWeavers CrossOver Office Wins 'Best Desktop Office Solution' At LinuxWorld 2002
  <li> <a href="http://www.codeweavers.com/about/press_releases/?id=20020813">CodeWeavers</a> August 13, 2002 - CodeWeavers Unveils CrossOver Office Server Edition for Solaris and Linux thin clients
  <li> <a href="http://www.desktoplinux.com/articles/AT2282537026.html">DesktopLinux</a> August 6, 2002 - CrossOver Office 1.2 review: Quicken and QuickBooks and Visio, oh my! (on Linux, that is)
  <li> <a href="http://www.transgaming.com/news.php?newsid=42">TransGaming</a> August 1, 2002 - Play Warcraft III on Linux with TransGaming's Release of WineX 2.1
  <li> <a href="http://www.linuxplanet.com/linuxplanet/interviews/4202/1/">LinuxPlanet</a> May 15, 2002 - The Many Faces of Wine: Realities of Open Source and Business
  <li> <a href="http://www.linuxworld.com/site-stories/2002/0429.crossover.html">LinuxWorld</a> April 29, 2002 -  Codeweaver's CrossOver Office is the best way to do the wrong thing
  <li> <a href="http://www.desktoplinux.com/articles/AT3633344463.html">DesktopLinux</a> April 25, 2002 - The Penguin and the Hare
  <li><a href="http://www.linuxlookup.com/html/reviews/software/transgamingwinex.html">LinuxLookup</a> April 25, 2002 - Transgaming WineX 2.0 Review <i>(covering WineX)</i>
  <li> <a href="http://techupdate.zdnet.com/techupdate/stories/main/0,14179,2861562,00.html">ZDNet</a> April 17, 2002 - Four routes to Lin-Win desktops
  <li><a href="http://www.desktoplinux.com/articles/AT6509081484.html">DesktopLinux</a> March 27, 2002 - MS Office arrives on the Linux desktop <i>(covering CrossOver Office)</i>
  <li><a href="http://www.mozillanews.org/index.php3?article=f9ff6612267ed09a46649ba2df4d673f">MozillaNews</a> March 6, 2002 -  Review: Codeweavers CrossOver Plugin <i>(covering CrossOver Plugin)</i>
  <li> <a href="http://www.wired.com/news/business/0,1367,49719,00.html">Wired</a> January 25, 2002 - Can WINE Ferment Move to Linux? 
  <li> <a href="http://newsforge.com/newsforge/02/04/09/2230251.shtml?tid=23">NewsForge</a> January 25, 2002 - Review: LindowsOS sneak preview -- it's not vaporware after all <i>(covering Lindows)</i>
  <li> <a href="http://www.desktoplinux.com/articles/AT5502857506.html">DesktopLinux</a> January 22, 2002 - The importance of the WINE project
  <li> <a href="http://newsforge.com/article.pl?sid=01/11/29/0414233&mode=thread&tid=23">NewsForge</a> November 29, 2001 - Windows on Linux: Real choices, real products
  <li><a href="http://www.businesswire.com/cgi-bin/f_headline.cgi?bw.101701/212902145&ticker=MVSN">BusinessWire</a> October 25, 2001 - TransGaming Licenses Macrovision's SafeDisc CD-ROM Copy Protection Technology on Linux Platform <i>(covering WineX)</i>
  <li> <a href="http://www.heise.de/newsticker/data/odi-21.11.00-000/">OSNews</a> October 19, 2001 - Interview with WINE's Alexandre Julliard
  <li> <a href="http://www.onlamp.com/pub/a/bsd/2001/09/21/FreeBSD_Basics.html">OnLamp</a> September 21, 2001 - Running Windows Applications on FreeBSD
  <li> <a href="http://techupdate.zdnet.com/techupdate/stories/main/0,14179,2806411,00.html">ZDNet</a> August 24, 2001 - Windows and Linux: in perfect harmony
  <li> <a href="http://www.osopinion.com/perl/story/11297.html">OS Opinion</a> June 18, 2001 - Putting a Bad API on a Good OS
  <li> <a href="http://www.gamespy.com/articles/may01/wine/">GameSpy</a> May 9, 2001 - Ports vs. Wine
  <li><a href="http://slashdot.org/article.pl?sid=00/12/30/1427237">Slashdot</a> December 30, 2000 - Wine Gets Direct3D Support <i>(covering WineX)</i>
  <li> <a href="http://www.linuxnewbie.org/articles/winewhine.html">LinuxNewbie</a> December 26, 2000 - A Whine About Wine 
  <li> <a href="http://www.linuxtoday.com.au/r/article/jsp/sid/81603">LinuxToday</a> October 20, 2000 - Wine: It Gets Better With Age
  <li> <a href="http://www.linuxplanet.com/linuxplanet/opinions/2439/1/">Linux Planet</a> October 9, 2000 - Wine and WineLib: Still Under Active Development
  <li> <a href="http://www.linuxnews.com/stories.php?story=202">LinuxNews</a> September 8, 2000 - Interview with Alexandre Julliard
  <li> <a href="http://www.computerworld.com/cwi/story/0,1199,NAV47_STO47667,00.html">ComputerWorld</a> July 31, 2000 - New Wine, Old Apps
  <li> <a href="http://linuxtoday.com/stories/7017.html">LinuxToday</a> June 23, 1999 - An Introduction to the Wine Project (Based on a Corel PR summarizing Wine)
  <li> <a href="http://www.sw.nec.co.jp/report/">NEC SolutionWave</a> April 7, 1999 - In Japanese
  <li> The German magazine PC INTERN 4/99 has an introductory article by <a href="mailto:marcus@jet.franken.de">Marcus Meissner</a>.
  <li> <a href="http://www.wsje.com/">Convergence</a> Spring 1999, distributed
       with the March 15 issue of the Wall Street Journal Europe
  <li> <a href="http://www.news.com/News/Item/0,4,33523,00.html">C|Net</a> March 9, 1999 - Corel gets Linux help
  <li> <a href="http://www.infoworld.com/cgi-bin/displayStory.pl?99035.whlindesk.htm">InfoWorld</a> March 5, 1999 - Linux on desktop to get interfaces, apps, objects <i>(covering Corel)</i>
  <li> <a href="http://www.infoworld.com/cgi-bin/displayStory.pl?99033.ectwine.htm">InfoWorld</a> March 5, 1999 - Open source tool converts Windows apps to Linux <i>(Covering Twine)</i>
  <li> <a href="http://news.zdnet.co.uk/story/0,,s2071014,00.html">ZDNet/UK</a> March 4, 1999 - LinuxWorld: Linux readies its desktop assault
  <li> <a href="http://www.pcworld.com/pcwtoday/article/0,1510,9956,00.html">PC World</a> March 3, 1999 - Corel to Offer Linux for PCs
  <li> <a href="http://www.news.com/News/Item/0,4,33152,00.html">C|Net</a> March 2, 1999 - Corel joins Linux effort with new system
  <li> <a href="http://news.zdnet.co.uk/story/0,,s2070973,00.html">ZDNet/UK</a> March 1, 1999 - IBM dismisses Corel's Wine plans
  <li> <a href="http://news.zdnet.co.uk/story/0,,s2070972,00.html">ZDNet/UK</a> March 1, 1999 - Corel's Linux/Wine plans meet mixed response
  <li> <a href="http://www.linuxworld.com/linuxworld/expo/lw-wine.html">LinuxWorld</a> February 23, 1999 - WINE and the WINEmakers
  <li> <a href="http://news.zdnet.co.uk/story/0,,s2070928,00.html">ZDNET UK</a> February 25, 1999 - Exclusive: Corel pushes desktop Linux <i>(Derek Burney interview)</i>
  <li> <a href="http://www.spiegel.de/spiegel/arc/sp9904166.html">Der Spiegel</a>, April 1999 - In German, or <a href="/press/spiegel-04-1999.html">English translation</a> by Marcus Meissner
  <li> <a href="http://www.nettavisen.no/it_nyheter/52284.html">Nettavisen</a> January 18, 1999 - In Norwegian, or <a href="/press/nettavisen.txt">English translation</a> by Steinar Bang
  <li> <a href="http://www.nytimes.com/library/tech/99/01/biztech/articles/18linux-microsoft.html">New York Times</a> January 18, 1999 - Another version of this
 article also appeared in the <a href="http://www.iht.com/">International Herald Tribune</a> January 19, 1999
  <li> <a href="http://www.ssc.com/lg/issue36/tag/77.html">Linux Gazette</a> December 25, 1998 - MS Applications Support For Linux
  <li> <a href="http://www.linuxtoday.com/stories/1540.html">Linux Today</a> December 14, 1998 - Exclusive Interview with Corel Computer
  <li> <a href="http://www.linuxworld.com/linuxworld/lw-1998-12/lw-12-corel.html">Linux World</a> December 1998 - Corel's CEO shares Linux vision
  <li> <a href="http://www.chronicle.com/free/98/09/98091801t.htm">Chronicle of Higher Education</a> September 18, 1998 - A Student's Dream of Creating A New Operating System Encounters Problems <i>(covering Freedows)</i>
</ul>

<p><a href="http://www.slashdot.org/">Slashdot</a> and <a href="http://www.lwn.net/">Linux Weekly News</a> both run regular Wine updates. You can also find <a href="http://slashdot.org/search.pl?op=stories&topic=125&sort=1">all Slashdot Wine articles</a>.


<p>&nbsp;</p>
