<!--TITLE:[Press articles covering Wine]-->

<h1>Press articles covering Wine</h1>

<ul>
  <li> <a href="http://www.pcmag.com/article2/0,4149,1369325,00.asp">PCMag</a> November 25, 2003 - If You Don't Do Windows
  <li> <a href="http://developers.slashdot.org/article.pl?sid=03/11/11/188227&mode=thread&tid=125&tid=126&tid=156&tid=185">Slashdot</a> November 11, 2003 - WineConf 2004
  <li> <a href="http://www.pcmag.com/article2/0,4149,1359206,00.asp">PCMag</a> November 11, 2003 - The Future Linux Alternative 
  <li> <a href="http://mozillaquest.com/Linux03/CrossoverOffice2-1_Overview_Story01.html">MozillaQuest</a> November 10, 2003 - CrossOver Office 2.1 Runs MS Windows Software on GNU-Linux Systems
  <li> <a href="http://www.linuxinsider.com/perl/story/32094.html">Linuxinsider</a> November 10, 2003 - Linux, Lindows Are Solid Microsoft Alternatives
  <li> <a href="http://www.infoworld.com/article/03/11/10/HNdesktopwalk_1.html">InfoWorld</a> November 10, 2003 - Desktop Linux advocates to walk before they run
  <li> <a href="http://www.osviews.com/modules.php?op=modload&name=News&file=article&sid=358&mode=thread&order=0&thold=0">OSViews</a> October 28, 2003 - Macromedia and Adobe Graphics Suites to Run on Linux
  <li> <a href="http://newsvac.newsforge.com/article.pl?sid=03/10/28/2223250&mode=thread&tid=2&tid=82&tid=94">Newsforge</a> October 28, 2003 - Macromedia, Linux Graphics Apps to Run on Linux
  <li> <a href="http://developers.slashdot.org/article.pl?sid=03/10/28/031219&mode=thread&tid=126&tid=152&tid=163&tid=185">Slashdot</a>October 28, 2003 - Dreamweaver MX, Flash MX With CrossOver Office
  <li> <a href="http://biz.yahoo.com/prnews/031027/cgm006_1.html">biz.yahoo</a> October 27,2003 - CodeWeavers Releases CrossOver Office(TM) 2.1 Featuring Macromedia Dreamweaver(R) MX, Flash(TM) MX Support
  <li> <a href="http://www.linuxjournal.com/article.php?sid=6752">Linux Journal</a> October 27,2003 - CrossOver Office Server Edition
  <li> <a href="http://ask.slashdot.org/article.pl?sid=03/10/24/2157206&mode=thread&tid=125&tid=130&tid=185&tid=190&tid=201">Slashdot</a>October 24, 2003 - Can WINE Compromise Unix?
  <li> <a href="http://insight.zdnet.co.uk/business/0,39020481,39116972,00.htm">ZDNet/UK</a> October 07, 2003 - A little Wine with your Linux? 
  <li> <a href="http://www.asiaosc.org/article_106.html">asiaosc</a> October 02, 2003 - Gamers may finally move to Linux?
  <li> <a href="http://www.newsforge.com/article.pl?sid=03/09/18/1735203&mode=thread&tid=132&tid=11">Newsforge</a> September 23, 2003 - Whining about Wine, crossing off CrossOver Office
  <li> <a href="http://www.linuxplanet.com/linuxplanet/reports/4800/1/">LinuxPlanet</a> September 21, 2003 - CrossOver Office's Microsoft Office Support is Not a Problem
  <li> <a href="http://www.computeruser.com/articles/2208,10,66,1,0801,03.html">ComputerUser</a> August 30, 2003 - Bringing Linux to the masses. 
  <li> <a href="http://www.oreillynet.com/pub/wlg/3696">O'Reilly Network</a> August 22, 2003 - CodeWeavers brings Linux the benefits of Windows...and some of the drawbacks
  <li> <a href="http://games.slashdot.org/article.pl?sid=03/08/18/2143231&mode=thread&tid=106&tid=127&tid=185&tid=186">Slashdot</a> August 18, 2003 - WineX and the Future of Linux Gaming
  <li> <a href="http://searchenterpriselinux.techtarget.com/originalContent/0,289142,sid39_gci919931,00.html">Searchenterpriselinux</a> August 18, 2003 - Experts offer Linux migration pointers
  <li> <a href="http://newsforge.com/newsforge/03/08/13/1258252.shtml?tid=16">Newsforge</a> August 14, 2003 - Switch to Linux, stay out of jail
  <li> <a href="http://www.lpbn.org/modules.php?op=modload&name=News&file=article&sid=416&mode=thread&order=0&thold=0">LPBN</a> August 13, 2003 - Jeremy White, CEO of CodeWeavers interview
  <li> <a href="http://games.slashdot.org/article.pl?sid=03/08/05/0359208&mode=thread&tid=127&tid=186&tid=206">Slashdot</a> August 5, 2003 - Frontal Assault Shows Impressive Assets
  <li> <a href="http://www.eweek.com/article2/0,3959,1210083,00.asp">eWEEK</a> August 4, 2003 - Penguin Moves to Disney
  <li> <a href="http://news.zdnet.co.uk/software/0,39020381,2138109,00.htm">ZDNet/UK</a> July 24, 2003 - Desktop Linux group readies public agenda
  <li> <a href="http://news.com.com/2100-1042-1020137.html">News.com</a> June 23, 2003 - Start-up launches low-cost Linux PCs
  <li> <a href="http://news.com.com/2100-1016-1014579.html">News.com</a> June 9, 2003 - SuSE widens scope for desktop Linux
  <li> <a href="http://www.linuxworld.com/story/32684.htm">Linux World</a> May 23, 2003 - The latest and greatest ways to run Windows desktop apps
  <li> <a href="http://www.eweek.com/article2/0,3959,1095106,00.asp">eWEEK</a> May 19, 2003 - CrossOver 2.0 Lets Linux Run More Windows Apps
  <li> <a href="http://www.linuxplanet.com/linuxplanet/reports/4800/1/">Linuxplanet</a> May 15, 2003 - CrossOver Office's Microsoft Office Support is Not a Problem
  <li> <a href="http://www.linuxjournal.com/article.php?sid=6869">Linux Journal</a> May 13, 2003 - Visual FoxPro for Linux: A Violation of the EULA?
  <li> <a href="http://www.eweek.com/article2/0,3959,1054585,00.asp">eWEEK</a> May 6, 2003 - CodeWeavers' Latest Release Is Music to Linux Users' Ears
  <li> <a href="http://linuxpr.com/releases/5827.html">Linuxpr</a> May 2, 2003 - Now Gamers Don't Need Windows
  <li> <a href="http://www.linuxplanet.com/linuxplanet/reports/4780/1/">Linux Planet</a> May 1, 2003 - Real World Linux Showcases New Products, Strategies
  <li> <a href="http://www.linuxorbit.com/modules.php?op=modload&name=Reviews&file=index&req=showcontent&id=31">Linux Orbit</a> April 29, 2003 - WineX 3.0 with Point2Play Review: No More Wine From the Command Line?
  <li> <a href="http://www.infomaticsonline.co.uk/Products/Software/1140379">Infomaticsonline</a> April 24, 2003 - SuSE Linux Office Desktop [Review]
  <li> <a href="http://news.zdnet.co.uk/story/0,,t269-s2133812,00.html">ZDNet</a> April 24, 2003 - Microsoft Limits Support for Office on Linux
  <li> <a href="http://www.desktoplinux.com/articles/AT7770280571.html">Desktop Linux</a> April 22, 2003 - Review: Photoshop Under Linux
  <li> <a href="http://www.desktoplinux.org/news/NS2320482945.html">Desktop Linux</a> April 22, 2003 - CrossOver Office unveils support for Windows XP, Photoshop 
  <li> <a href="http://www.desktoplinux.org/news/NS7741250468.html">Desktop Linux</a> April 22, 2003 - The Windows vs. Linux debate revived with WINE
  <li> <a href="http://www.linuxworld.com/story/32665.htm">Linux World</a> April 21, 2003 - Catching up with WINE
  <li> <a href="http://developers.slashdot.org/article.pl?sid=03/04/08/2125228&mode=thread&tid=125">Slashdot</a> April 8, 2003 - Stories From The Vineyard
  <li> <a href="http://www.linuxworld.com/linuxworld/expo/lw-thursday-wine.html">Linux World</a> April 2, 2003 - Windows on Linux
  <li> <a href="http://www.linuxworld.com/story/32654.htm">Linux World</a> April 1, 2003 - How to Install Neverwinter Nights on Linux
  <li> <a href="http://www.desktoplinux.com/articles/AT8142909722.html">Desktop Linux</a> March 5, 2003 - TransGaming Gives Linux Game
  <li> <a href="http://www.cuj.com/current/feature.htm?topic=current">C/C++ Users Journal</a> March 5, 2003 - Dropping Windows with WineLib: Expert help for porting your Windows apps to Linux
  <li> <a href="http://www.pcmag.com/article2/0,4149,847752,00.asp">PCMag</a> Febuary 25, 2003 - Run Office Apps on Linux
  <li> <a href="http://zdnet.com.com/2100-1104-985888.html">ZDNet</a> Febuary 2, 2003 - Linux plays host to Microsoft Office 
  <li> <a href="http://www.sudhian.com/showdocs.cfm?aid=323">Sudhian Media</a> February 2, 2003 - The Shuttle XPC and Linux Revolution: Part IV Windows under Linux
  <li> <a href="http://www.pcmag.com/article2/0,4149,842339,00.asp">PCMag</a> January 23, 2003 - Linux Spreading to the Desktop? 
  <li> <a href="http://money.excite.com/jsp/nw/nwdt_ge.jsp?cat=PRRELEASE&src=105&feed=cmt&section=news&news_id=cmt-023p0990&date=20030123&alias=/alias/money/cm/nw">Excite</a> January 23, 2003 - CrossOver Plugin(TM) Version 1.2, Now Supporting ActiveX(R) Controls
  <li> <a href="http://www.itweek.co.uk/Products/Software/1138079">ITweek</a> January 21, 2003 - SuSE Linux Office Desktop [Review]
  <li> <a href="http://linuxtoday.com/infrastructure/2002121101426NWSVSW">LinuxToday</a> December 11, 2002 - CodeWeavers CrossOver Office Server Edition to Surpass Citrix and Windows
  <li> <a href="http://www.consultingtimes.com/articles/codeweavers/codeweaversxandros.html">ConsultingTimes</a> October 17, 2002 - CodeWeavers/Xandros Deal: "Let the Revolution Begin!"
  <li> <a href="http://www.linuxplanet.com/linuxplanet/reviews/4405/1/">LinuxPlanet</a> August 29, 2002 - CrossOver Office: Cutting to the Quicken
  <li> <a href="http://www.linuxorbit.com/modules.php?op=modload&name=Reviews&file=index&req=showcontent&id=15">LinuxOrbit</a> August 29, 2002 - Break out Your Games Library: Running Windows Games with WineX 2.1
  <li> <a href="http://www.transgaming.com/news.php?newsid=43">TransGaming</a> August 19, 2002 - TransGaming and TimeGate Partner to Port KOHAN
  <li> <a href="http://www.codeweavers.com/about/press_releases/?id=20020814">CodeWeavers</a> August 14, 2002 - CodeWeavers CrossOver Office Wins 'Best Desktop Office Solution' At LinuxWorld 2002
  <li> <a href="http://www.codeweavers.com/about/press_releases/?id=20020813">CodeWeavers</a> August 13, 2002 - CodeWeavers Unveils CrossOver Office Server Edition for Solaris and Linux thin clients
  <li> <a href="http://www.desktoplinux.com/articles/AT2282537026.html">DesktopLinux</a> August 6, 2002 - CrossOver Office 1.2 review: Quicken and QuickBooks and Visio, oh my! (on Linux, that is)
  <li> <a href="http://www.transgaming.com/news.php?newsid=42">TransGaming</a> August 1, 2002 - Play Warcraft III on Linux with TransGaming's Release of WineX 2.1
  <li> <a href="http://www.linuxplanet.com/linuxplanet/interviews/4202/1/">LinuxPlanet</a> May 15, 2002 - The Many Faces of Wine: Realities of Open Source and Business
  <li> <a href="http://www.linuxworld.com/story/32751.htm">LinuxWorld</a> April 29, 2002 -  CodeWeaver's CrossOver Office is the best way to do the wrong thing
  <li> <a href="http://www.desktoplinux.com/articles/AT3633344463.html">DesktopLinux</a> April 25, 2002 - The Penguin and the Hare
  <li> <a href="http://www.linuxlookup.com/html/reviews/software/transgamingwinex.html">LinuxLookup</a> April 25, 2002 - TransGaming WineX 2.0 Review <i>(covering WineX)</i>
  <li> <a href="http://techupdate.zdnet.com/techupdate/stories/main/0,14179,2861562,00.html">ZDNet</a> April 17, 2002 - Four routes to Lin-Win desktops
  <li> <a href="http://www.desktoplinux.com/articles/AT6509081484.html">DesktopLinux</a> March 27, 2002 - MS Office arrives on the Linux desktop <i>(covering CrossOver Office)</i>
  <li> <a href="http://www.mozillanews.org/index.php3?article=f9ff6612267ed09a46649ba2df4d673f">MozillaNews</a> March 6, 2002 -  Review: CodeWeavers CrossOver Plugin <i>(covering CrossOver Plugin)</i>
  <li> <a href="http://www.wired.com/news/business/0,1367,49719,00.html">Wired</a> January 25, 2002 - Can WINE Ferment Move to Linux? 
  <li> <a href="http://newsforge.com/newsforge/02/04/09/2230251.shtml?tid=23">NewsForge</a> January 25, 2002 - Review: LindowsOS sneak preview -- it's not vaporware after all <i>(covering Lindows)</i>
  <li> <a href="http://www.desktoplinux.com/articles/AT5502857506.html">DesktopLinux</a> January 22, 2002 - The importance of the WINE project
  <li> <a href="http://newsforge.com/article.pl?sid=01/11/29/0414233&mode=thread&tid=23">NewsForge</a> November 29, 2001 - Windows on Linux: Real choices, real products
  <li> <a href="http://www.businesswire.com/cgi-bin/f_headline.cgi?bw.101701/212902145&ticker=MVSN">BusinessWire</a> October 25, 2001 - TransGaming Licenses Macrovision's SafeDisc CD-ROM Copy Protection Technology on Linux Platform <i>(covering WineX)</i>
  <li> <a href="http://www.heise.de/newsticker/data/odi-21.11.00-000/">OSNews</a> October 19, 2001 - Interview with WINE's Alexandre Julliard
  <li> <a href="http://www.onlamp.com/pub/a/bsd/2001/09/21/FreeBSD_Basics.html">OnLamp</a> September 21, 2001 - Running Windows Applications on FreeBSD
  <li> <a href="http://techupdate.zdnet.com/techupdate/stories/main/0,14179,2806411,00.html">ZDNet</a> August 24, 2001 - Windows and Linux: in perfect harmony
  <li> <a href="http://www.osopinion.com/perl/story/11297.html">OS Opinion</a> June 18, 2001 - Putting a Bad API on a Good OS
  <li> <a href="http://www.gamespy.com/articles/may01/wine/">GameSpy</a> May 9, 2001 - Ports vs. Wine
  <li> <a href="http://slashdot.org/article.pl?sid=00/12/30/1427237">Slashdot</a> December 30, 2000 - Wine Gets Direct3D Support <i>(covering WineX)</i>
  <li> <a href="http://www.linuxtoday.com.au/r/article/jsp/sid/81603">LinuxToday</a> October 20, 2000 - Wine: It Gets Better With Age
  <li> <a href="http://www.linuxplanet.com/linuxplanet/opinions/2439/1/">Linux Planet</a> October 9, 2000 - Wine and WineLib: Still Under Active Development
  <li> <a href="http://www.computerworld.com/softwaretopics/software/appdev/story/0,10801,47667,00.html">ComputerWorld</a> July 31, 2000 - New Wine, Old Apps
  <li> <a href="http://linuxtoday.com/stories/7017.html">LinuxToday</a> June 23, 1999 - An Introduction to the Wine Project (Based on a Corel PR summarizing Wine)
  <li> <a href="http://www.sw.nec.co.jp/report/">NEC SolutionWave</a> April 7, 1999 - In Japanese
  <li> The German magazine PC INTERN 4/99 has an introductory article by <a href="mailto:marcus@jet.franken.de">Marcus Meissner</a>.
  <li> <a href="http://www.wsje.com/">Convergence</a> Spring 1999, distributed with the March 15 issue of the Wall Street Journal Europe
  <li> <a href="http://www.news.com/News/Item/0,4,33523,00.html">C|Net</a> March 9, 1999 - Corel gets Linux help
  <li> <a href="http://www.infoworld.com/cgi-bin/displayStory.pl?99035.whlindesk.htm">InfoWorld</a> March 5, 1999 - Linux on desktop to get interfaces, apps, objects <i>(covering Corel)</i>
  <li> <a href="http://www.infoworld.com/cgi-bin/displayStory.pl?99033.ectwine.htm">InfoWorld</a> March 5, 1999 - Open source tool converts Windows apps to Linux <i>(Covering Twine)</i>
  <li> <a href="http://news.zdnet.co.uk/story/0,,s2071014,00.html">ZDNet/UK</a> March 4, 1999 - LinuxWorld: Linux readies its desktop assault
  <li> <a href="http://www.pcworld.com/pcwtoday/article/0,1510,9956,00.html">PC World</a> March 3, 1999 - Corel to Offer Linux for PCs
  <li> <a href="http://www.news.com/News/Item/0,4,33152,00.html">C|Net</a> March 2, 1999 - Corel joins Linux effort with new system
  <li> <a href="http://news.zdnet.co.uk/story/0,,s2070973,00.html">ZDNet/UK</a> March 1, 1999 - IBM dismisses Corel's Wine plans
  <li> <a href="http://news.zdnet.co.uk/story/0,,s2070972,00.html">ZDNet/UK</a> March 1, 1999 - Corel's Linux/Wine plans meet mixed response
  <li> <a href="http://www.linuxworld.com/linuxworld/expo/lw-wine.html">LinuxWorld</a> February 23, 1999 - WINE and the WINEmakers
  <li> <a href="http://news.zdnet.co.uk/story/0,,s2070928,00.html">ZDNET UK</a> February 25, 1999 - Exclusive: Corel pushes desktop Linux <i>(Derek Burney interview)</i>
  <li> <a href="http://www.nettavisen.no/it_nyheter/52284.html">Nettavisen</a> January 18, 1999 - In Norwegian
  <li> <a href="http://www.nytimes.com/library/tech/99/01/biztech/articles/18linux-microsoft.html">New York Times</a> January 18, 1999 - Another version of this
 article also appeared in the <a href="http://www.iht.com/">International Herald Tribune</a> January 19, 1999
  <li> <a href="http://www.ssc.com/lg/issue36/tag/77.html">Linux Gazette</a> December 25, 1998 - MS Applications Support For Linux
  <li> <a href="http://www.linuxtoday.com/stories/1540.html">Linux Today</a> December 14, 1998 - Exclusive Interview with Corel Computer
  <li> <a href="http://www.linuxworld.com/linuxworld/lw-1998-12/lw-12-corel.html">Linux World</a> December 1998 - Corel's CEO shares Linux vision
  <li> <a href="http://www.chronicle.com/free/98/09/98091801t.htm">Chronicle of Higher Education</a> September 18, 1998 - A Student's Dream of Creating A New Operating System Encounters Problems <i>(covering Freedows)</i>
</ul>

<p><a href="http://www.slashdot.org/">Slashdot</a> and <a href="http://www.lwn.net/">Linux Weekly News</a> both run regular Wine updates. You can also find <a href="http://slashdot.org/search.pl?op=stories&topic=125&sort=1">all Slashdot Wine articles</a>.


<p>&nbsp;</p>
