<h1>Wine Screenshots</h1>
Happy Users present screenshots of Windows programs running under Wine.
<p>
<ul>
  <li> Browse the <a href="http://appdb.codeweavers.com">Wine Application Database</a>
  <li> Ian Schmidt's <a href="http://wine.godmonkey.com">Unofficial WINE Screenshots</a>
  <li> Nathan Lineback's <a href="http://pla-netx.com/linebackn/guis/wine.html">Wine Screen Shots</a>
  <li> Thomas Elger's <a href="http://www.nek.lu.se/nektel/gif/wine.htm">Wine Screenshots</a>
  <li> LinuxGames's <a href="http://www.linuxgames.com/wine/">Wine Success Stories</a>
  <li> <a href="http://butthead.ton.tut.fi/screenshots/2000_12_19_0048_shot.jpeg">How many</a> games do you want to play on Wine ?
  <li> Andreas Mohr's <a href="http://home.nexgo.de/andi.mohr/wineshots/">miscellaneous screenshots</a>
</ul>

<p align=center><img src="../images/grey_pixel.gif" width="100%" height=1 border=0 alt="-" ></p>
