<p class="small" align="center">
    <b>Switch Theme:</b>
    [<a href="?theme=winehq">Default Theme</a>] |
    [<a href="?theme=red">Red Wine Theme</a>] |
    [<a href="?theme=classic">Classic Theme</a>]
</p>
