<!--TITLE:[WineHQ - Dil seçin]-->
<!--BLURB:[WineHQ çok dilli bir web sitesi]-->

<!--EXEC:[language]-->

<h1 class="title">{$langChange}</h1>

<p><b>Mevcut Lisan: </b> {$langCur}</p>

<ul style="list-style: none; margin-left: 20px; padding: 0;">
<!--EXEC:[language?cmd=list]-->
</ul>
