<!--TITLE:[News]-->
<!--BLURB:[All the latest news from the Wine community.]-->

<h1 class="title">Haberler</h1>

<!--EXEC:[news]-->

<hr />

<div class="link-container">
    <p><a href="{$root}/wwn/">Dünya Wine Haber Arşivi</a></p>
</div>
<ul class="rss">
    <li><a href="{$root}/news/rss/">WineHQ Haber RSS Beslemesi</a></li>
</ul>

