<!--TITLE:[Ukazało się nowe Wine]-->
<!--BLURB:[Alexandre Julliard mówi...]-->
<!--META_OG:[image|http://media.codeweavers.com/pub/crossover/marketing/og/wine-hq-announcement.png]-->

<h1 class="title">Ukazało się nowe Wine</h1>

<!--EXEC:[announce]-->

