<!--TITLE:[Über Wine]-->
<!--BLURB:[Erklärungen zum Wine-Projekt]-->

<h1 class="title">Über Wine</h1>

<p>Wine ermöglicht es, Windows-Programme unter anderen Betriebssystemen laufen lassen. Mit Wine kannst Du diese Programme genauso installieren und laufen lassen, wie unter Windows.</p>

<p>Wine wird aktiv weiterentwickelt. Noch läuft nicht jedes Programm, aber <a href="http://wiki.winehq.org/UsageStatistics" title="Statistik zur Wine-Benutzung">mehrere Millionen Anwender (en)</a> nutzen Wine, um ihre Programme zu verwenden.</p>

<h3>Durch Open Source und Benutzer getrieben</h3>

<p>Wine wird immer <a href="http://wiki.winehq.org/Licensing" title="Wine-Lizensierung">Freie Software (en)</a> sein. Ungefähr die Hälfte des Quellcodes von Wine wird von Freiwilligen geschrieben. Der Rest wird von Firmen gesponsort, insbesondere <a href="http://www.codeweavers.com/products/" title="Codeweavers Crossover Office">Codeweavers (en)</a>, die eine eigene Version von Wine mit Support verkaufen.</p>

<p>Wine ist stark von seinen Anwendern abhängig. Tests von Anwendern füllen unsere <a href="http://appdb.winehq.org/" title="Wine Anwendungsdatenbank">Anwendungsdatenbank (en)</a> um verfolgen zu können, wie gut einzelne Programme funktionieren, und sämtliche Antworten in den <a href="http://forums.winehq.org/" title="WineHQ Foren">Foren (en)</a> kommen von Freiwilligen.</p>

<h3>Erfahre mehr:</h3>
<ul>
    <li><a href="http://wiki.winehq.org/ImportanceOfWine">Warum Wine so wichtig ist (en)</a></li>
    <li><a href="http://wiki.winehq.org/Debunking_Wine_Myths">Wine-Mythen aufgedeckt (en)</a></li>
    <li><a href="http://wiki.winehq.org/WineHistory">Geschichte des Wine-Projekts (en)</a></li>
    <li><a href="http://wiki.winehq.org/ProjectOrganization">Organisation und Leitung (en)</a></li>
</ul>

<hr>
<div class="link-container">
  <p class="right-link">Die Geschichte von Wine: <a href="{$root}/history">Weiter</a></p>
</div>
