<!--TITLE:[WineHQ - W&auml;hle Deine Sprache aus]-->
<!--BLURB:[WineHQ ist eine mehrsprachige Website]-->

<!--EXEC:[language]-->

<h1 class="title">{$langChange}</h1>

<p><b>Aktuelle Sprache: </b> {$langCur}</p>

<ul style="list-style: none; margin-left: 20px; padding: 0;">
<!--EXEC:[language?cmd=list]-->
</ul>

