<!--TITLE:[新闻]-->
<!--BLURB:[来自 Wine 社区的最新消息。]-->

<h1 class="title">新闻</h1>

<!--EXEC:[news]-->

<hr />

<div class="link-container">
    <p><a href="{$root}/wwn/">全部 Wine 新闻归档</a></p>
</div>
<ul class="rss">
    <li><a href="{$root}/news/rss/">WineHQ 新闻 RSS 订阅</a></li>
</ul>

