<!--TITLE:[WineConf 2010 - RSVP]-->

<table width="100%">
<tr>
  <td><img src="{$root}/images/wineconf/wineconf_logo.jpg" width="295" height="108" alt="-LOGO-"></td>
  <td align="right"><center><FONT size="+2"><b>November 20 - 21, 2010<br> Paris, France</b></font></center></td>
</tr>
</table>

<hr />

<!--EXEC:[register?form=wineconf/rsvp;db=rsvp]-->

<p>&nbsp;</p>
