<!--TITLE:[WineConf 2005 - RSVP]-->

<table width="100%"><tr><td><img src="{$root}/images/wineconf/wc05_logo.jpg" width="300" height="152" alt="-LOGO-"></td>
<td align="right"><center><FONT size="+2"><b>April 30 - May 1, 2005<br>
Stuttgart, Germany</b></font></center></td></tr></table>

<hr />

<!--EXEC:[register?form=wineconf/rsvp;db=rsvp]-->

<p>&nbsp;</p>
