<!--TITLE:[WineConf 2006 - Survey]-->

<table width="100%"><tr><td><img src="{$root}/images/wineconf/wc06_logo.jpg" width="300" height="152" alt="-LOGO-"></td>
<td align="right"><center><FONT size="+2"><b>Date: Undecided<br />
Place: Undecided</b></font></center></td></tr></table>

<hr />

<!--EXEC:[register?form=wineconf/survey06;db=survey06]-->

<p>&nbsp;</p>
