<!--TITLE:[WineConf 2006 - Survey]-->

<table width="100%">
<tr>
<td><img src="{$root}/images/wineconf/wc06_logo.jpg" width="300" height="152" alt="-LOGO-"></td>
<td><FONT size="+1"><b>Date:<br /> &nbsp; September 16th and 17th 2006<br />
Place:<br /> &nbsp; Reading, United Kingdom</b></font></td>
</tr>
</table>

<hr />

<!--EXEC:[register?form=wineconf/survey06;db=survey06]-->

<p>&nbsp;</p>
