<?xml version="1.0" ?>
<menu>
    <sect name="main" desc="WineHQ Menu" link="{$root}" unfold="1" template="top">
        <sect name="home" desc="WineHQ" link="{$root}" />
        <sect name="apps" desc="AppDB" link="http://appdb.winehq.org" />
        <sect name="bugs" desc="Bugzilla" link="http://bugs.winehq.org/" />
        <sect name="wiki" desc="Wine Wiki" link="http://wiki.winehq.org/" />
        <sect name="forums" desc="Wine Forums" link="http://forum.winehq.org/" />
        <sect name="spacer" template="spacer"/>
    </sect>
    <sect name="about" desc="About" unfold="1" template="top">
        <sect name="about" desc="Introduction" link="{$root}/site/about" />
        <sect name="wine_features" desc="Features" link="{$root}/site/wine_features" />
        <sect name="screenshots" desc="Screenshots" link="{$root}/site?ss=1" />
        <sect name="contributing" desc="Contributing" link="{$root}/site/contributing" />
        <sect name="news" desc="News Blog" link="{$root}/site?news=archive" />
        <sect name="wwn" desc="World Wine News" link="{$root}/site?issue=back" />
        <sect name="press" desc="Press" link="{$root}/site/press" />
        <sect name="license" desc="License" link="{$root}/site/license" />
        <sect name="spacer" template="spacer"/>
    </sect>
    <sect name="downlaod" desc="Download" unfold="1" template="top">
        <sect name="download" desc="Get Wine Now" link="{$root}/site/download" />
        <sect name="spacer" template="spacer"/>
    </sect>
    <sect name="support" desc="Support" unfold="1" template="top">
        <sect name="getting_help" desc="Getting Help" link="{$root}/site/getting_help" />
        <sect name="faq" desc="FAQ" link="http://wiki.winehq.org/FAQ" />
        <sect name="documentation" desc="Documentation" link="{$root}/site/documentation" />
        <sect name="howto" desc="HowTo" link="{$root}/site/howto" />
        <sect name="irc" desc="Live Support Chat" link="{$root}/site/irc" />
        <sect name="paid_support" desc="Paid Support" link="http://www.codeweavers.com/" />
        <sect name="spacer" template="spacer"/>
    </sect>
    <sect name="development" desc="Development" unfold="1" template="top">
        <sect name="devel_guide" desc="Developers Guide" link="{$root}/site/docs/winedev-guide/index" />
        <sect name="forums" desc="Mailing Lists" link="{$root}/site/forums" />
        <sect name="git" desc="GIT" link="{$root}/site/git" />
        <sect name="sending_patches" desc="Sending Patches" link="{$root}/site/sending_patches" />
        <sect name="todo" desc="To Do Lists" link="http://wiki.winehq.org/TodoList" />
        <sect name="fun_projects" desc="Fun Projects" link="{$root}/site/fun_projects" />
        <sect name="janitorial" desc="Janitorial" link="http://wiki.winehq.org/JanitorialProjects" />
        <sect name="winelib" desc="Winelib" link="{$root}/site/winelib" />
        <sect name="status" desc="Status" link="{$root}/site/status" />
        <sect name="resources" desc="Resources" link="{$root}/site/resources" />
        <sect name="wineconf" desc="WineConf" link="{$root}/site/wineconf" />
        <sect name="spacer" template="spacer"/>
    </sect>
    <sect name="search" desc="Languages" unfold="1" template="top">
        <sect name="en" desc="English" template="lang" link="{$root}/site/?lang=en" />
        <sect name="es" desc="Español" template="lang" link="{$root}/site/?lang=es" />
        <sect name="spacer" template="spacer"/>
    </sect>
    <sect name="search" desc="Search WineHQ" unfold="1" template="top">
        <sect name="search" desc="Enter Search!" template="search" />
        <sect name="spacer" template="spacer"/>
    </sect>
</menu>
