"Simplemente debe ejecutar sus programas de Windows, lo más probable es que pueda hacer que funcionen con Wine." -- Guía de Hardware de Tom
"Los expertos dicen que el uso de Wine por una empresa como Disney para resolver un problema de tecnología da legitimidad a la idea de ejecutar Linux en el escritorio." - eWeek
"Wine parece ser un buen punto de partida para los usuarios que quieren hacer el cambio de Windows a Linux" - Scott Lowe, ZDNet UK
"[Wine es] fantástico para rellenar los huecos en mi instalación" - Roger Mier, Linux.com
"Aunque hay algunos métodos de emulación disponibles, Wine es uno de los más completos y eficaces" - Chad Robinson, Robert Frances Group Inc
"[Wine es] el más popular en tecnología de traducción de terceros en uso" - portavoz de Microsoft
