<!--TITLE:[Applications]-->

<h1>Base de datos de aplicaciones Wine</h1>

<p>
Wine tiene una <a href="http://appdb.winehq.org/">base de datos de 
aplicaciones</a> donde la compatibilidad de las aplicaciones Windows
es almacenada. Los usuarios registrados puede enviar nuevas 
aplicaciones y comentar las existentes. Las capturas de pantallas 
están también disponibles para muchas aplicaciones. Los usuarios 
también puede votar sus aplicaciones favoritas.
</p>

