<b><a href="?announce={$snapshot_date}">Wine {$snapshot_date}</a></b>

<span class="small">
  (<a href="http://source.winehq.org/git/wine.git?a=shortlog;h=refs/tags/wine-{$snapshot_date}">shortlog</a>)  
</span>
