<!--TITLE:[על אודות Wine]-->
<!--BLURB:[הסבר על מיזם Wine]-->

<h1 class="title">על אודות Wine</h1>

<p>שכבת ה־Wine מאפשרת לך להריץ תכניות של Windows על גבי מערכות הפעלה אחרות.  באמצעות Wine, ניתן להתקין ולהריץ יישומים אלה בדיוק באותו האופן כמו ב־Windows.</p>

<p>Wine עדיין נמצאת בהליכי פיתוח כבדים.  לא כל התכניות עובדות עדיין, עם זאת ישנם כבר <a href="http://wiki.winehq.org/UsageStatistics" title="סטטיסטיקת שימוש ב־Wine">מיליוני אנשים</a> המשתמשים ב־Wine כדי להריץ את התכניות שלהם.</p>

<h3>קוד פתוח מונחה משתמשים</h3>

<p>Wine תמיד תישאר <a href="http://wiki.winehq.org/Licensing" title="Wine licensing">תכנה חופשית</a>.  בערך כמחצית מקוד המקור של Wine נכתב על ידי מתנדבים.  השאר ממומן על ידי בעלי עניין מסחריים, במיוחד <a href="http://www.codeweavers.com/products/" title="Codeweavers Crossover Office">Codeweavers</a> שמוכרים גרסה עם תמיכה של Wine.</p>

<p>Wine נסמכת בצורה משמעותית על קהילת המשתמשים שלה.  בדיקות משתמשים ממלאות את <a href="http://appdb.winehq.org/" title="Wine Application Database">מסד נתוני היישומים</a> כדי לעקוב אחר אופן פעולת התכניות השונות, וכל התשובות שב<a href="http://forums.winehq.org/" title="WineHQ Forums">פורומים</a> נענות על ידי מתנדבים.</p>

<h3>מידע נוסף:</h3>
<ul>
    <li><a href="http://wiki.winehq.org/ImportanceOfWine">מדוע Wine כה חשובה</a></li>
    <li><a href="http://wiki.winehq.org/Debunking_Wine_Myths">אגדות נפוצות על Wine</a></li>
    <li><a href="http://wiki.winehq.org/WineHistory">היסטוריית מיזם Wine</a></li>
    <li><a href="http://wiki.winehq.org/ProjectOrganization">ארגון ומנהיגות</a></li>
</ul>

<hr>
<div class="link-container">
  <p class="right-link">ההיסטוריה של Wine: <a href="{$root}/history">הבא</a></p>
</div>
