<!doctype html>
<html>
<head>
    <title>{$page_title}</title>
    <meta name="SearchTitle" content="{$page_title}">
    <meta name="copyright" content="Copyright {$curtime_year}. WineHQ.org All rights reserved">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    {$meta_keywords}
    {$meta_description}
    {$meta_og}

    {$css_links}

    {$js_links}

<!--EXEC:[google_analytics]-->

    <link rel="icon" type="image/png" href="{$root}/images/winehq_logo_16.png">
    <link rel="shortcut icon" type="image/png" href="{$root}/images/winehq_logo_16.png">
    {$rss_link}
</head>
<body>


<div id="logo_glass" class="pos"><a href="{$root}/"><img src="{$root}/images/winehq_logo_glass_sm.png" alt=""></a></div>
<div id="logo_text" class="pos"><a href="{$root}/"><img src="{$root}/images/winehq_logo_text.png" alt="WineHQ" title="WineHQ"></a></div>


<div id="logo_blurb">{$page_blurb}</div>


<div id="search_box">
  <form action="{$root}/search/" id="cse-search-box" style="margin: 0; padding: 0;">
    <span style="color: #ffffff;">Пошук:</span> <input type="text" name="q" size="20">
  </form>
</div>


<div id="tabs" class="pos">
    <ul>
        <li class="s"><a href="{$base_url}">WineHQ</a></li>
        <li><a href="http://wiki.winehq.org/">Wiki</a></li>
        <li><a href="//appdb.winehq.org/">AppDB</a></li>
        <li><a href="//bugs.winehq.org/">Bugzilla</a></li>
        <li><a href="//forums.winehq.org/">Форуми</a></li>
    </ul>
</div>

<div id="main_content">
    <div class="content cornerround" style="padding: 35px 20px 10px 80px">
    <!-- Start Content -->

{$page_body}

    <!-- End Content -->
    </div>
</div>

<div id="footer">
    Хостинг надано
    <a href="http://www.codeweavers.com/"><img src="{$root}/images/cw_logo_sm.png" alt="CodeWeavers"
    title="CodeWeavers - Запуск Windows програм та ігор на Mac та Linux"></a>
</div>

<!-- DEBUG -->
{$debug_log}
<!-- END DEBUG -->

</body>
</html>
