<tr>
<td>
    <table width="145" class="sideBorder" style="padding-bottom: 2px; padding-top: 2px;">
    <tr><td>
        <span class="menuItem">&nbsp; <a href="{$url}" class="menuItem">{$name}</a></span>
    </td></tr>
    </table>
</td>
<td><img src="{$root}/images/blank.gif" width="5" height="1" alt=""></td>
</tr>
