<tr>
<td>
    <table width="145" class="sideBorder" style="padding-bottom: 1px; padding-top: 1px;">
    <tr><td>
        <span class="menuItem"><a href="{$url}" title="{$name}"
        class="menuItem"><img src="{$root}/images/lang/{$item}.png"
        alt="{$name}" /> {$name}</a></span>
    </td></tr>
    </table>
</td>
<td><img src="{$root}/images/blank.gif" width="5" height="1" alt=""></td>
</tr>
