<!--TITLE:[Listes de diffusion / Forums]-->
<!--BLURB:[Ce que nous voulons éviter, c'est un problème de communication.]-->

<h1 class="title">Listes de diffusion principales / Forums</h1>

<p>Wine propose divers listes de diffusion et forums.
Voici les plus utiles pour les utilisateurs :

<ul>
    <li>Les <a href="http://forum.winehq.org">forums WineHQ</a></li>

    <li>La <a href="http://www.winehq.org/mailman/listinfo/wine-users">liste de discussion Wine-Users</a> (et l'<a href="http://www.winehq.org/pipermail/wine-users/">archive web</a>)</li>

    <li>Les utilisateurs Ubuntu peuvent également visiter l'<a href="http://ubuntuforums.org/forumdisplay.php?f=313">espace Wine des forums Ubuntu</a>

    <li>Les utilisateurs peuvent également visiter l'<a href="http://www.linuxforums.org/forum/wine/">espace Wine sur Linux Forums</a>

    <li>Si vous voulez être prévenu(e) des nouvelles versions, inscrivez-vous à la <a href="http://www.winehq.org/mailman/listinfo/wine-announce">liste de diffusion Wine-Announce</a></li>
</ul>

<p>Merci de ne pas créer de forum non-anglophone pour Wine (à part éventuellement un espace Wine dans le forum principal d'une distribution populaire).</p>

<p>Si vous connaissez un autre forum Wine actif (en particulier un non-anglophone), merci de nous prévenir afin de pouvoir l'ajouter à la liste (un courriel à dank@kegel.com suffit).</p>

<h2>Tous les listes WineHQ</h2>

<p>WineHQ dispose de listes pour soumettre des patchs, suivre des commits Git, et discuter sur Wine. Elles permettent une configuration fine des inscriptions des utilisateurs, <a href="http://www.winehq.org/mailman/listinfo">via le Web</a> ou en envoyant un courriel à <i>nom de la liste</i>-request@winehq.org avec comme sujet
« subscribe ». Pour vous désinscrire, utilisez « unsubscribe <i>mot de passe</i> » en utilisant
le mot de passe obtenu lors de l'inscription, ou employez simplement <a href="http://www.winehq.org/mailman/listinfo">l'interface Web Mailman</a>.</p>

<p><b>Note :</b> il est nécessaire d'être inscrit pour pouvoir poster, ou votre message sera considéré comme unpourriel potentiel par le logiciel de gestion de la liste.</p>

<ul class="roomy">
  <li>
    [<a href="http://www.winehq.org/mailman/listinfo/wine-announce">(Dés-)inscription</a>]
    [<a href="http://www.winehq.org/pipermail/wine-announce/">Archive 1</a>]
    [<a href="http://news.gmane.org/gmane.comp.emulators.wine.announce">Archive 2</a>]
    [<a href="news://news.gmane.org/gmane.comp.emulators.wine.announce">via un lecteur de nouvelles</a>]
    <a href="mailto:wine-announce@winehq.org">wine-announce@winehq.org</a><br>
    Une liste bas trafic (2 messages par mois) en lecture seule annonçant les nouvelles versions et d'autres nouvelles majeures sur Wine ou WineHQ.
  </li>

  <li>
    [<a href="http://www.winehq.org/mailman/listinfo/wine-users">(Dés-)inscription</a>]
    [<a href="http://www.winehq.org/pipermail/wine-users/">Archive 1</a>]
    [<a href="http://news.gmane.org/gmane.comp.emulators.wine.user">Archive 2</a>]
    [<a href="news://news.gmane.org/gmane.comp.emulators.wine.user">via un lecteur de nouvelles</a>]
    <a href="mailto:wine-users@winehq.org">wine-users@winehq.org</a><br>
    Une liste moyen trafic (50 messages par jour) pour les discussions des utilisateurs.
  </li>

  <li>
    [<a href="http://www.winehq.org/mailman/listinfo/wine-devel">(Dés-)inscription</a>]
    [<a href="http://www.winehq.org/pipermail/wine-devel/">Archive 1</a>]
    [<a href="http://news.gmane.org/gmane.comp.emulators.wine.devel">Archive 2</a>]
    [<a href="news://news.gmane.org/gmane.comp.emulators.wine.devel">via un lecteur de nouvelles</a>]
    <a href="mailto:wine-devel@winehq.org">wine-devel@winehq.org</a> <br>
    Une liste moyen trafic (25 messages par jour) pour la discussion sur le développement de Wine, les patchs ou tout autre élément intéressant pour les développeurs Wine.
  </li>

  <li>
   [<a href="http://www.winehq.org/mailman/listinfo/wine-patches">(Dés-)inscription</a>]
   [<a href="http://www.winehq.org/pipermail/wine-patches/">Archive 1</a>]
   [<a href="http://news.gmane.org/gmane.comp.emulators.wine.patches">Archive 2</a>]
    [<a href="news://news.gmane.org/gmane.comp.emulators.wine.patches">via un lecteur de nouvelles</a>]
   <a href="mailto:wine-patches@winehq.org">wine-patches@winehq.org</a><br>
   Une liste moyen trafic (45 messages par jour) destinée uniquement à l'envoi de patchs.
 </li>

  <li>
    [<a href="http://www.winehq.org/mailman/listinfo/wine-cvs">(Dés-)inscription</a>]
    [<a href="http://www.winehq.org/pipermail/wine-cvs/">Archive 1</a>]
    [<a href="http://news.gmane.org/gmane.comp.emulators.wine.cvs">Archive 2</a>]
    [<a href="news://news.gmane.org/gmane.comp.emulators.wine.cvs">via un lecteur de nouvelles</a>]
    <a href="mailto:wine-cvs@winehq.org">wine-cvs@winehq.org</a><br>
    Une liste moyen trafic (35 messages par jour) en lecture seule pour le suivi des commits dans Git.
  </li>

  <li>
    [<a href="http://www.winehq.org/mailman/listinfo/wine-releases">(Dés-)inscription</a>]
    [<a href="http://www.winehq.org/pipermail/wine-releases/">Archive 1</a>]
    <a href="mailto:wine-releases@winehq.org">wine-releases@winehq.org</a> <br>
    Une liste bas trafic (2 messages par mois) en lecture seule pour la réception de fichiers diff conséquents lors de la sortie d'une version officielle de Wine.
  </li>

  <li>
    [<a href="http://news.gmane.org/gmane.comp.emulators.wine.license">Archive 1</a>]
    [<a href="news://news.gmane.org/gmane.comp.emulators.wine.license">via un lecteur de nouvelles</a>]
    <br>
    Une liste clôturée qui était utilisée pour la discussion de points juridiques relatifs à Wine, y compris des problèmes de licences (fermée le 16/12/2004).
  </li>

  <li>
    [<a href="http://www.winehq.org/mailman/listinfo/wine-bugs">(Dés-)inscription</a>]
    [<a href="http://www.winehq.org/pipermail/wine-bugs/">Archive 1</a>]
    [<a href="http://news.gmane.org/gmane.comp.emulators.wine.bugs">Archive 2</a>]
    [<a href="news://news.gmane.org/gmane.comp.emulators.wine.bugs">via un lecteur de nouvelles</a>]
    <a href="mailto:wine-bugs@winehq.org">wine-bugs@winehq.org</a><br>
    Une liste haut trafic (150 messages par jour) en lecture seule pour la surveillances des activités sur la
    <a href="http://bugs.winehq.org/">base de données de suivi de bogues</a>.
  </li>

  <li>
    [<a href="http://www.winehq.org/mailman/listinfo/wine-tests-results">(Dés-)inscription</a>]
    [<a href="http://www.winehq.org/pipermail/wine-tests-results/">Archive</a>]
    <a href="mailto:wine-tests-results@winehq.org">wine-tests-results@winehq.org</a><br>
    Une liste moyen trafic (10 messages par jour) pour la soumission de résultats de tests.
  </li>

</ul>
