<!--TITLE:[WineHQ - Choisissez votre langue]-->
<!--BLURB:[WineHQ est un site web multilingue]-->

<!--EXEC:[language]-->

<h1 class="title">{$langChange}</h1>

<p><b>Langue actuelle : </b> {$langCur}</p>

<ul style="list-style: none; margin-left: 20px; padding: 0;">
<!--EXEC:[language?cmd=list]-->
</ul>
