<table width="150" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="100%" align="right"><a href="{$url}" class="menuTitle">{$name}</a>&nbsp;</td>
 </tr>
</table>
<table width="150" border="0" cellspacing="0" cellpadding="1">
<tr class="topMenu"><td>
  <table width="100%" border="0" cellspacing="0" cellpadding="5">
{$body}
  </table>
</td></tr>
</table><br>
