# default permissions
allow from all

# Set Our Default Directory Index
DirectoryIndex site index.html index.shtml index.cgi index.php

# Website Offline
#RewriteEngine on
#Rewritebase /
#RewriteRule \.(html|jpg|gif|png|css)$ - [L]
#RewriteRule ^(.*) /down.html [R=302,L]

# 404 not found document
ErrorDocument 404 http://www.winehq.org/404

# Tell PHP how we want to handle global vars
php_value register_globals 0

# We want to use ";" as variable separator (more XML compliant)
php_value arg_separator.output ";"
php_value arg_separator.input ";&"

# force the php to accept PATH_INFO
<Files ~ (site)$>
  AcceptPathInfo On
  ForceType application/x-httpd-php
</Files>

# redirect winehq services to appropriate web sites
RedirectMatch ^/?page=(.*)$                     //www.winehq.org/$1
RedirectMatch ^/index\.php?page=(.*)$           //www.winehq.org/$1

# redirect old winehq pages to new locations
RedirectPermanent /index.php                    //www.winehq.org/
RedirectPermanent /about.shtml                  //www.winehq.org/about
RedirectPermanent /about/index.php              //www.winehq.org/about
RedirectPermanent /community.shtml              //www.winehq.org/contributions
RedirectPermanent /dev.shtml                    //www.winehq.org/cvs
RedirectPermanent /dev.html                     //www.winehq.org/cvs
RedirectPermanent /devstart.shtml               //www.winehq.org/cvs
RedirectPermanent /documentation/               //www.winehq.org/documentation
RedirectPermanent /documentation                //www.winehq.org/documentation
RedirectPermanent /download/index.php           //www.winehq.org/download
RedirectPermanent /download.shtml               //www.winehq.org/download
RedirectPermanent /download.html                //www.winehq.org/download
RedirectPermanent /download-mirrors.html        //www.winehq.org/download
RedirectPermanent /download-mirrors.shtml       //www.winehq.org/download
RedirectPermanent /support.shtml                //www.winehq.org/documentation
RedirectPermanent /News/status.html             //www.winehq.org/status
RedirectPermanent /faq/                         http://wiki.winehq.org/FAQ
RedirectPermanent /faq                          http://wiki.winehq.org/FAQ
RedirectPermanent /FAQ/                         http://wiki.winehq.org/FAQ
RedirectPermanent /FAQ                          http://wiki.winehq.org/FAQ
RedirectPermanent /screenshots/                 //appdb.winehq.org/
RedirectPermanent /screenshots                  //appdb.winehq.org/
RedirectPermanent /howto/                       http://wiki.winehq.org/HowTo
RedirectPermanent /howto                        http://wiki.winehq.org/HowTo
RedirectPermanent /todo/                        //www.winehq.org/TodoList
RedirectPermanent /todo                         //www.winehq.org/TodoList
RedirectPermanent /docs/wine-faq/               http://wiki.winehq.org/FAQ
RedirectPermanent /docs/wine-faq                http://wiki.winehq.org/FAQ
RedirectPermanent /docs/wine-faq/index/         http://wiki.winehq.org/FAQ
RedirectPermanent /docs/wine-faq/index          http://wiki.winehq.org/FAQ

# Fix Old WWN links
RedirectMatch ^/\?issue=(.*)$                   //www.winehq.org/wwn/{$1}
RedirectMatch ^/\?interview=(.*)$               //www.winehq.org/interview/{$1}

# fix documentation links
RedirectMatch ^/(Docs|Docs/)$                   //www.winehq.org/documentation
RedirectMatch ^/(docs|docs/)$                   //www.winehq.org/documentation
RedirectMatch ^/Docs/(\w+-\w+)/$                //www.winehq.org/docs/$1/index
RedirectMatch ^/Docs/(\w+-\w+)/(.*)\.shtml$     //www.winehq.org/docs/$1/$2 
RedirectMatch ^/docs/(\w+-\w+)/$                //www.winehq.org/docs/$1/index
RedirectMatch ^/docs/(\w+-\w+)/(.*)\.shtml$     //www.winehq.org/docs/$1/$2 
RedirectMatch ^/docs/([a-z-]+)/$                //www.winehq.org/docs/$1/index
RedirectMatch ^/(docs|docs/)$                   //www.winehq.org//documentation

# redirect winehq services to appropriate web sites
RedirectMatch ^/(APPS|Apps|apps)/$              //appdb.winehq.org/
RedirectMatch ^/(APPS|Apps|apps)$               //appdb.winehq.org/
RedirectMatch ^/(APPS|Apps|apps)/query\.cgi$    //appdb.winehq.org/
RedirectMatch ^/apps\.cgi$                      //appdb.winehq.org/
RedirectMatch ^/(FAQ|Faq)/$                     http://wiki.winehq.org/FAQ
RedirectMatch ^/(FAQ|Faq)$                      http://wiki.winehq.org/FAQ
RedirectMatch ^/(BUGS|Bugs|bugs)/$              //bugs.winehq.org/
RedirectMatch ^/(BUGS|Bugs|bugs)$               //bugs.winehq.org/
RedirectMatch ^/(TROUBLE|Trouble|trouble)/$     http://wiki.winehq.org/FAQ
RedirectMatch ^/(TROUBLE|Trouble|trouble)$      http://wiki.winehq.org/FAQ

# redirect soure website
RedirectMatch ^/WineAPI(.*)$                     //source.winehq.org/WineAPI$1
RedirectMatch ^/source(.*)$                      //source.winehq.org/source$1
RedirectMatch ^/cvsweb(.*)$                      //cvs.winehq.org/cvsweb$1
RedirectMatch ^/patch.py(.*)$                    //cvs.winehq.org/patch.py$1

# redirect source website utils
RedirectPermanent /ident                        //source.winehq.org/ident
RedirectPermanent /find                         //source.winehq.org/find
RedirectPermanent /search                       //source.winehq.org/search
RedirectPermanent /diff                         //source.winehq.org/search

# redirect old wineconf pages
RedirectMatch ^/wineconf$                       http://wiki.winehq.org/
RedirectMatch ^/wineconf/$                      http://wiki.winehq.org/

# Enable re-writing of URLs to hide the main script
RewriteEngine on
Rewritebase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+) site/$1 [L]

